
.bio{
    margin:auto;
    margin-top: 180px;
    width:60%;
    gap:10px;
    height:fit-content;
    display:flex;
    align-items:flex-start;
    justify-content:center;
}
.bio h1{
  font-size: 17px;
  font-family: 'Poppins';
  color: #605E5E;
  white-space: 10px;
  
}
.bio-paragraph{/*TODO -change font family*/
  font-family: 'League Spartan';
  font-size: 13px;
  color: #605E5E;
  width: 300px;
  line-height: 17px;
}
@media(max-width:1000px){
  .bio{
    
    flex-direction:column;
    align-items: center;
    gap:20px;
  }
}