@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300;400&family=Pacifico&family=Poppins:wght@200&display=swap');
 *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 font-family: 'Poppins', 'League Spartan';
}

.project-container{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;

}

.project-card {
  width:50%;
  height:50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
}
.project-image{
  width:100%;
}
@media screen and (max-width:750px) {
  .project-container{
    margin-top: 120px;
  }
  .project-card{
    width:100%;
    height: auto;
  }
}