

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
  font-family: 'Poppins';
}
.printing h1{
  font-family: 'Poppins';
  font-size: 17px;
  color: #605E5E;
}

.printing{
    display: flex;
    justify-content: center;
    align-items: center;
}
