/*we should not style the navbar*/

.App{
    width:100%;
  }
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', 'League Spartan';
  }
  /*
  :root{
  --main--color:rgb(127, 222, 143);
  }
  */
  main{ /*has two sections*/
  display:flex;
  align-items: flex-start;
  justify-content: center;
  height:70vh;/*view height*/
  padding-top: 130px; 
  height: 500px;
  width: 100%;
  /*background: url("images/background.png") no-repeat;*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins', 'League Spartan';
  }
  
  .contact-info{
    width:60%;
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;/*bring the children[<div>] to the end of the container*/
  }
  
  .contact-form{
    width:40%;
    display:flex;
    align-items:flex-start;
    justify-content: flex-start;/*bring the children[<div>] to the end of the container*/
    
  }
  
  
  .contact-form > form{
    display:flex;
    flex-direction: column;
    column-width: auto;
    align-items: flex-start;
    justify-content: flex-start;
    gap:8px;
    width:100%;
    padding-left: 50px;
    /*background-color: blue;*/
  }
  
  
  .info-card{
    width:40%;
    text-align:left;
    font-size:10px;
    font-weight: 300;
    text-justify: left;
    padding-left: 100px;
   /*background-color: brown;*/
   
  }
  
  .contact-form > form > div{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap:20px;
    width:60%;
    /*border:2px solid blue;*/
  }
  .contact-form > form > div > label{
    font-family: 'League Spartan';
    font-weight: 300;
    font-size:13px;
    width:30px;
    color: hsl(0, 1%, 37%);
  }
  .contact-form input ,.contact-form textarea{
  /*border:2px solid red;*/
  width:80%;/*modify this value to change the form input size*/
  }
  
  .contact-form > form > div > textarea{
    resize:none;
  }
  
  .send-button-container button{
    
    margin:10p;
    padding:5px; /*this button should be aligned to the right*/
  }
  
  h2{
    font-family: 'League Spartan';
    line-height: 25px;
    font-size: 13px;
    color: #605E5E;
  }
  
  h1{
    font-size: 18px;
  
  }
  
  .foot{
    width: 100%;
    height: 50px;
    background-color: #fff;
    text-align: center; 
    font-family: 'League Spartan';
    font-size: 13px;
    color: #605E5E;
  
  
  }
  
  
  
  
  
  
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
   }
   
   nav.sticky{
    padding: 15px 20px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   }
   
   nav .nav-content{
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   nav .logo a{
    font-weight: 500;
    font-size: 35px;
    color: #ffffff;
   }
   
   nav.sticky .logo a{
    color: #fff;
   }
   
   .nav-content .nav-links{
    display: flex;
   }
   
   .nav-content .nav-links li{
    list-style: none;
    margin: 0 8px;
   }
   
   .nav-links li a{
    text-decoration: none;
    color: #0E2431;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
    font-size: 16px;
   }
   
   .nav-links li a:hover{
     color: #ffffff;
   }
   
   nav.sticky .nav-links li a{
     color: #ffffff;
     transition: all 0.4s ease;
   }
   
   nav.sticky .nav-links li a:hover{
    color: #0E2431;
   }
  
   .frontdeskdesigns{
    padding-top: 5px;
    height: 90px;
  }
  
  .nav-links{
    column-gap: 200px;
    margin-right: 10px;
  }
  
   .flexbox-logo{
    margin-right: 200px; 
   }
  
  
  
  
  
  
  
  
  
  
   @media only screen and (max-width: 1000px){
    .hamburger{
    position: relative; 
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-left: 50px;
    margin-top: 50px;
    
      }
    }
    
    @media only screen and (max-width: 1000px){
      .hamburger .bar, .hamburger:after, .hamburger:before{
        content: '';
        display: block; 
        width: 75%;
        height: 1.5px;
        background-color: black;
        margin: 6px 0px;
        transition: 0.4s;
      }
    }
    
    
    @media only screen and (max-width: 1000px){
      .hamburger.is-active:before{
        transform: rotate(-45deg) translate(-8px, 6px);
    
        }
      }
    
    @media only screen and (max-width: 1000px){
        .hamburger.is-active:after{
          transform: rotate(45deg) translate(-9px, -8px);
      
        }
      }
    
    @media only screen and (max-width: 1000px){
        .hamburger.is-active .bar {
          opacity: 0;
      
        }
      }
    
    @media only screen and (max-width: 1000px){
        .mobile-nav{
          position: fixed;
          top: 0;
          left: 100%;
          width: 100%;
          min-height: 100vh;
          display: block;
          z-index: 98;
          background-color: white;
          padding-top: 120px;
          transition: 0.4s;
         
        }
      }  
    
    @media only screen and (max-width: 1000px){
        .mobile-nav.is-active{
          left: 0;
         
        }
      }  
    
    @media only screen and (max-width: 1000px){
       .mobile-nav a {
         display: block;
         margin: 0 auto 16px;
         width: 100%;
         max-width: 200px;
         text-align: center;
         padding: 12px 16px;
         color: black;
      
      
        }
      }  
    
    @media only screen and (max-width: 1000px){
        .mobile-nav a:hover {
        background-color: #ffffff;
      
        }
      }  
    
    @media only screen and (max-width: 1000px){
      .project-container{
       display: flex;
       flex-wrap: wrap;
       row-gap: 75px;
       margin-top: 75px;
      }
    }
    
    @media only screen and (max-width: 1000px){
      .project-name-container{
       display: none;
      }
    }
    
    @media only screen and (max-width: 1000px){
    nav {
      display: none;
      }
    }
    
    @media only screen and (max-width: 1000px){
      .home {
        margin-bottom: 100px;
        }
      }
    
    
    
    
      @media (min-width: 1000px) {
        .mobile-nav {
          display: none;
        }
      
        .hamburger {
          display: none;
        }
      }